.container{
    width: 1100px;
    height: 1000px;
    margin: auto;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #46B2E0;
}
.header-wrapper{
    height: 25%;
    width: 100%;
    
}
.heading-wrapper{
    height: 50%;
    width: 100%;
    padding-top: 3%;
}
.image img{
    height: 90px;
    width: 90px;
    float: left;
    margin-left:15% ;
    margin-right: 4%;
}
.heading{
    font-size: 2.5em;
    padding-top: 3%;
    
}
.link{
    font-size: 20px;
   padding-top: 1%;
    padding-left: 40%;
}
.nav-lists{
    padding-left: 35%;
    padding-top: 2%;
}
.items{
    display: inline;
    border-right: 2px solid black;
    float: left;
    padding-right: 3%;
    padding-left: 2%;
}
.search{
    float: right;
    padding-right: 5%;
}
.main-container{
    height: 70%;
    width: 90%;
    border: 2px solid black;
    margin: auto;
  background-color: #38CC77;
    
}
.services-section{
    height: 90%;
    width: 40%;
    border: 2px solid black;
    margin-top: 2%;
    margin-left: 2%;
    float: left;
    
}
.address-section{
    height: 35%;
    width: 50%;
    border: 2px solid black;
    margin-top: 2%;
    margin-right: 2%;
    float: right;
}
.contact-section{
    height: 50%;
    width: 50%;
    border: 2px solid black;
    margin-top:2%;
    margin-right: 2%;
    float: right;
}
.services-heading{
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5%;
}
.services-image img{
    height: 20%;
    width: 60%;
    margin-left: 20%;
}
.services-lists{
    text-align: center;
    margin-top: 5%;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.registration{
    margin-bottom: 8%;
}
.address-heading{
    padding-left: 5%;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5%;
}
.address-body{
    padding-left: 5%;
    padding-top: 8%;
    
}
.address-list{
    padding-bottom: 2%;
}
.contact-heading{
    padding-left: 5%;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5%;
}
.contact-sec{
    height: 100px;
    width: 30%;
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 15%;
    float: left;
}
.contact-sec img{
    height: 50px;
    width: 90px;
   padding-left: 30%;
   padding-top: 5%;
}
h3{
    text-align: center;
}

