.container{
    width: 100%;
    height: 700px;
    background-color: #35BDD0;
}
.header{
    height: 10%;
    width: 100%;
    background-color: #6A1B4D;
    position: sticky;
    top: 0;
}
.footer{
    height: 10%;
    width: 100%;
    background-color: #6A1B4D;
    position: fixed;
    bottom: 0;
}
.main-body{
    margin-left: 10%;
    border: 2px solid black;
    height: 60%;
    width: 80%;
    position: absolute;
    margin-top: 10%;
}
.section-image{
    height: 300px;
    width: 30%;
    border: 1px solid black;
    float: left;
    margin-left: 8%;
    margin-right: 6%;
    margin-top: 2%;
    background-color: #6A1B4D;
}
.section-menu{
    height: 300px;
    width: 30%;
    border: 1px solid black;
    float: right;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: -21%;
    background-color: #6A1B4D;
}
.heading{
    font-size: 3em;
    color: white;
    text-align: center;
    padding-top: 1%;
}
.footer-items{
    
    display: inline;
}
.items{
    padding-left: 4%;
    display: inline;
    float: right;
    font-size: 20px;
    padding-top: 2%;
}
.section-image img{
    padding-left: 7%;
    padding-top: 15%;
    height: 70%;
    width: 90%;
}
.menu-lists{
    text-align: center;
    padding-top: 10%;
    color: white;
}
.menu-items{
    padding-bottom: 3%;
}
.section-button{
    padding-top: 20%;
   
}
button{
    height: 30px;
    width: 120px;
    background-color:#6A1B4D ;
    color: white;
}