.container{
    height: 600px;
    width: 1000px;
    background-color: black;
    margin: auto;
    margin-top: 3%;
}
.left{
    height: 100%;
    width: 30%;
    padding-left: 2%;
    padding-top: 1%;
    float: left;
}
.subsec{
    height: 30%;
    width: 90%;
    background-color: #CAD5E2;
}
.subsect{
    height: 40%;
    width: 90%;
    background-color: #CAD5E2;
   margin-top: 2%;
}
.subsection{
    height: 25%;
    width: 90%;
    background-color: #2827CC;
    margin-top: 3%;
}
.right{
    height: 100%;
    width: 70%;
    padding-top: 1%;
    float: left;
}
.right-sec{
    height: 71%;
    width: 95%;
    background-color: #D82E2F;
   
}
.right-sect{
    height: 40%;
    width: 100%;
}
.right-subsec{
    height: 61%;
    width: 90%;
    background-color:#CAD5E2 ;
   margin-top: 1%;
   display: inline;
   float: left;
}
.right-subsect-body{
    height: 61%;
    width: 10%;
    display: inline;
    float: right;
   
    
}
.right-subsect-body .subsection{
    height: 50%;
    width: 40%;
    background-color:#CAD5E2 ;
    margin-top: 9%;
    margin-left: 8%;
}
.right-subsect-body .subsection1{
    height: 45%;
    width: 40%;
    background-color:#EDC126 ;
    margin-top: 9%;
    margin-left: 8%;
}